adb-shell==0.4.2
aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
apparmor==3.0.4
appdirs==1.4.4
appnope==0.1.3
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciidoc==10.1.4
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
backoff==1.11.1
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.11.1
bleach==5.0.0
btrfsutil==5.17
CacheControl==0.12.6
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
contextlib2==0.6.0.post1
cryptography==36.0.2
cycler==0.11.0
Cython==0.29.28
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.1
docutils==0.16
Emote==3.0.3
entrypoints==0.4
evdev==1.5.0
executing==0.8.3
fastjsonschema==2.15.3
file-magic==0.4.0
filelock==3.4.2
fonttools==4.33.3
frozenlist==1.3.0
geographiclib==1.52
geopy==2.2.0
gnureadline==8.0.0
grapejuice==4.14.2
html5lib==1.1
idna==2.10
imagesize==1.3.0
importlib-metadata==4.8.1
instagram-private-api==1.6.0.0
iOSbackup==0.9.923
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.1
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keyring==23.4.0
kiwisolver==1.4.2
lensfun==0.3.3
LibAppArmor==3.0.4
libtorrent===2.0.5-build-libtorrent-rasterbar-src-libtorrent-rasterbar-2.0.5-bindings-python
libusb1==3.0.0
lightdm-gtk-greeter-settings==1.2.2
lxml==4.8.0
mac-vendor-lookup==0.1.12
Mako==1.1.6
ManimPango==0.4.1
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mechanize==0.4.7
meson==0.62.1
mistune==0.8.4
more-itertools==8.10.0
msgpack==1.0.3
multidict==6.0.2
mvt==1.5.4
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
netsnmp-python==1.0a1
notebook==6.4.11
NSKeyedUnArchiver==1.5
numpy==1.22.3
opencage==2.0.0
ordered-set==4.0.2
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pep517==0.12.0
pexpect==4.8.0
phonenumbers==8.12.47
pickleshare==0.7.5
Pillow==9.1.0
pipenv==2022.4.21
platformdirs==2.5.0
ply==3.11
prettytable==0.7.2
progress==1.6
progressbar==2.5
prometheus-client==0.14.1
prompt-toolkit==3.0.29
proton-client==0.7.1
protonvpn-cli==3.11.1
protonvpn-gui==1.8.0
protonvpn-nm-lib==3.9.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pycairo==1.21.0
pycparser==2.21
pycryptodome==3.14.1
pyexifinfo==0.4.0
Pygments==2.11.2
PyGObject==3.42.1
pyhibp==4.2.0
pyOpenSSL==22.0.0
pyparsing==3.0.8
PyQt5==5.15.6
PyQt5-sip==12.10.1
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
python-gnupg==0.4.8
python-xlib==0.31
pythondialog==3.5.3
pytz==2022.1
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
readline==6.2.4.1
requests==2.27.1
requests-futures==1.0.0
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
rich==12.3.0
rsa==4.8
SecretStorage==3.3.1
Send2Trash==1.8.0
simplejson==3.17.6
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.2.0
stem==1.8.0
systemd-python==234
TBB==0.2
tbomb==2.1.2
team==1.0
termcolor==1.1.0
terminado==0.13.3
tinycss2==1.1.1
tld==0.12.6
toml==0.10.2
tomli==2.0.1
tornado==6.1
torrequest==0.1.0
tqdm==4.63.0
traitlets==5.1.1
Unidecode==1.3.4
urllib3==1.25.11
virtualenv==20.11.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
whois==0.9.13
widgetsnbextension==3.6.0
WoeUSB-ng==0.2.10
wxPython==4.0.7.post2
xmltodict==0.12.0
yarl==1.7.2
yq==2.14.0
zipp==3.8.0
